html, body {height: 100%; min-height: 100%;}
body {position: relative; padding-left: 200px; background: #373737;}

.left {float: left;}
.right {float: right;}

header {height: 83px; text-align: right;}
	.search_label {display: inline-block; color: #a0a0a0; padding: 30px 25px 0 0;}
	.search {display: inline-block; height: 100%; width: 300px; padding-top: 27px; vertical-align: top; background: #222222 url(../img/search.png) 35px 30px no-repeat;}
		.search .inp_search {padding-left: 10px; border: 0; width: 245px; background: #222222; outline: 0; color: #ebebeb;}
		.search .inp_search:input-placeholder {color: #444444;}

#sidebar {position: absolute; top: 83px; left: 0; width: 200px; bottom: 0;}
	.sidebar_nav {padding: 20px 10px 30px;}
	.sidebar_nav a {display: block; vertical-align: top; margin-bottom: 25px; font-size: 14px; color: #ebebeb;}
	.sidebar_nav a .icon {display: inline-block; width: 17px; height: 17px; margin-right: 5px;}
		.sidebar_nav .a_mail .icon {background: url(../img/ico_nav.png) -26px 3px no-repeat;}
		.sidebar_nav .a_map .icon {background: url(../img/ico_nav.png) 0px 3px no-repeat;}
		.sidebar_nav .a_fvrt .icon {background: url(../img/ico_nav.png) -49px 3px no-repeat;}

#content {min-height: calc(100% - 83px); background: #1c1c1c; box-shadow: 0px 0px 100px #111010; padding-bottom: 100px;}
	.menu {height: 84px;}
		.nav-pills>li>a {width: 100px; height: 84px; padding-top: 32px; text-align: center; border-radius: 0; background: #222222; color: #555; cursor: pointer;}
		.nav>li>a:hover, 
		.nav>li>a:focus {background: #262626;}
		.nav-pills>li.active>a, 
		.nav-pills>li.active>a:hover, 
		.nav-pills>li.active>a:focus {background: #00a99d;}
	.top_content {background-color:  #008d83; height: 84px;}
		.breadcrumbs {display: table-cell; height: 84px; max-width: 650px; vertical-align: middle; padding-left: 25px;}
			.breadcrumbs a {color: #f5f5f5; font-size: 17px;}
	.content {padding: 20px 20px; color: #fff;}

	#t_menu li {cursor: pointer;}

footer {height: 100px; margin-top: -100px; color: #fefffd; background: rgb(56,0,125); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(56,0,125,1) 0%, rgba(143,51,196,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(56,0,125,1)), color-stop(100%,rgba(143,51,196,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(56,0,125,1) 0%,rgba(143,51,196,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(56,0,125,1) 0%,rgba(143,51,196,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(56,0,125,1) 0%,rgba(143,51,196,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(56,0,125,1) 0%,rgba(143,51,196,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38007d', endColorstr='#8f33c4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
	footer p {margin: 0;}
	footer .f_txt {display: table-cell; height: 100px; vertical-align: middle; padding: 0 25px;}
	footer .right {max-width: calc(100% - 162px);}